@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Geist;
    font-weight: 100;
    src: url(/public/fonts/Geist-Thin.woff2) format("woff2");
  }
  @font-face {
    font-family: Geist;
    font-weight: 200;
    src: url(/public/fonts/Geist-ExtraLight.woff2) format("woff2");
  }
  @font-face {
    font-family: Geist;
    font-weight: 300;
    src: url(/public/fonts/Geist-Light.woff2) format("woff2");
  }
  @font-face {
    font-family: Geist;
    font-weight: 400;
    src: url(/public/fonts/Geist-Normal.woff2) format("woff2");
  }
  @font-face {
    font-family: Geist;
    font-weight: 500;
    src: url(/public/fonts/Geist-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: Geist;
    font-weight: 600;
    src: url(/public/fonts/Geist-SemiBold.woff2) format("woff2");
  }
  @font-face {
    font-family: Geist;
    font-weight: 700;
    src: url(/public/fonts/Geist-Bold.woff2) format("woff2");
  }
  @font-face {
    font-family: Geist;
    font-weight: 800;
    src: url(/public/fonts/Geist-ExtraBold.woff2) format("woff2");
  }
  @font-face {
    font-family: Geist;
    font-weight: 900;
    src: url(/public/fonts/Geist-Black.woff2) format("woff2");
  }
}

.bgbg {
  background-image: linear-gradient(
    to right top,
    #48b86e,
    #49b667,
    #49b45f,
    #4bb158,
    #4caf50
  );
}
